/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'portfolio';
  src: url("/fonts/portfolio.eot?gxulvl");
  src: url("/fonts/portfolio.eot?gxulvl#iefix") format("embedded-opentype"), url("/fonts/portfolio.ttf?gxulvl") format("truetype"), url("/fonts/portfolio.woff?gxulvl") format("woff"), url("/fonts/portfolio.svg?gxulvl#portfolio") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'portfolio' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aperature:before {
  content: "\E900";
}

.clearfix:after,
#navigation:after {
  content: "";
  display: table;
  clear: both;
}

.sp0.mt {
  margin-top: 0px;
}

.sp0.mb {
  margin-bottom: 0px;
}

.sp0.ml {
  margin-left: 0px;
}

.sp0.mr {
  margin-right: 0px;
}

.sp0.mall {
  margin: 0px;
}

.sp0.pt {
  padding-top: 0px;
}

.sp0.pb {
  padding-bottom: 0px;
}

.sp0.pl {
  padding-left: 0px;
}

.sp0.pr {
  padding-right: 0px;
}

.sp0.pall {
  padding: 0px;
}

.sp0.bottom {
  bottom: 0px;
}

.sp0.top {
  top: 0px;
}

.sp0.left {
  left: 0px;
}

.sp0.right {
  right: 0px;
}

@media (max-width: 599px) {
  .sp0.mt {
    margin-top: 0px;
  }

  .sp0.mb {
    margin-bottom: 0px;
  }

  .sp0.ml {
    margin-left: 0px;
  }

  .sp0.mr {
    margin-right: 0px;
  }

  .sp0.mall {
    margin: 0px;
  }

  .sp0.pt {
    padding-top: 0px;
  }

  .sp0.pb {
    padding-bottom: 0px;
  }

  .sp0.pl {
    padding-left: 0px;
  }

  .sp0.pr {
    padding-right: 0px;
  }

  .sp0.pall {
    padding: 0px;
  }

  .sp0.bottom {
    bottom: 0px;
  }

  .sp0.top {
    top: 0px;
  }

  .sp0.left {
    left: 0px;
  }

  .sp0.right {
    right: 0px;
  }
}

.sp1.mt {
  margin-top: 1px;
}

.sp1.mb {
  margin-bottom: 1px;
}

.sp1.ml {
  margin-left: 1px;
}

.sp1.mr {
  margin-right: 1px;
}

.sp1.mall {
  margin: 1px;
}

.sp1.pt {
  padding-top: 1px;
}

.sp1.pb {
  padding-bottom: 1px;
}

.sp1.pl {
  padding-left: 1px;
}

.sp1.pr {
  padding-right: 1px;
}

.sp1.pall {
  padding: 1px;
}

.sp1.bottom {
  bottom: 1px;
}

.sp1.top {
  top: 1px;
}

.sp1.left {
  left: 1px;
}

.sp1.right {
  right: 1px;
}

@media (max-width: 599px) {
  .sp1.mt {
    margin-top: 0.2px;
  }

  .sp1.mb {
    margin-bottom: 0.2px;
  }

  .sp1.ml {
    margin-left: 0.2px;
  }

  .sp1.mr {
    margin-right: 0.2px;
  }

  .sp1.mall {
    margin: 0.2px;
  }

  .sp1.pt {
    padding-top: 0.2px;
  }

  .sp1.pb {
    padding-bottom: 0.2px;
  }

  .sp1.pl {
    padding-left: 0.2px;
  }

  .sp1.pr {
    padding-right: 0.2px;
  }

  .sp1.pall {
    padding: 0.2px;
  }

  .sp1.bottom {
    bottom: 0.2px;
  }

  .sp1.top {
    top: 0.2px;
  }

  .sp1.left {
    left: 0.2px;
  }

  .sp1.right {
    right: 0.2px;
  }
}

.sp2.mt {
  margin-top: 2px;
}

.sp2.mb {
  margin-bottom: 2px;
}

.sp2.ml {
  margin-left: 2px;
}

.sp2.mr {
  margin-right: 2px;
}

.sp2.mall {
  margin: 2px;
}

.sp2.pt {
  padding-top: 2px;
}

.sp2.pb {
  padding-bottom: 2px;
}

.sp2.pl {
  padding-left: 2px;
}

.sp2.pr {
  padding-right: 2px;
}

.sp2.pall {
  padding: 2px;
}

.sp2.bottom {
  bottom: 2px;
}

.sp2.top {
  top: 2px;
}

.sp2.left {
  left: 2px;
}

.sp2.right {
  right: 2px;
}

@media (max-width: 599px) {
  .sp2.mt {
    margin-top: 0.4px;
  }

  .sp2.mb {
    margin-bottom: 0.4px;
  }

  .sp2.ml {
    margin-left: 0.4px;
  }

  .sp2.mr {
    margin-right: 0.4px;
  }

  .sp2.mall {
    margin: 0.4px;
  }

  .sp2.pt {
    padding-top: 0.4px;
  }

  .sp2.pb {
    padding-bottom: 0.4px;
  }

  .sp2.pl {
    padding-left: 0.4px;
  }

  .sp2.pr {
    padding-right: 0.4px;
  }

  .sp2.pall {
    padding: 0.4px;
  }

  .sp2.bottom {
    bottom: 0.4px;
  }

  .sp2.top {
    top: 0.4px;
  }

  .sp2.left {
    left: 0.4px;
  }

  .sp2.right {
    right: 0.4px;
  }
}

.sp5.mt {
  margin-top: 5px;
}

.sp5.mb {
  margin-bottom: 5px;
}

.sp5.ml {
  margin-left: 5px;
}

.sp5.mr {
  margin-right: 5px;
}

.sp5.mall {
  margin: 5px;
}

.sp5.pt {
  padding-top: 5px;
}

.sp5.pb {
  padding-bottom: 5px;
}

.sp5.pl {
  padding-left: 5px;
}

.sp5.pr {
  padding-right: 5px;
}

.sp5.pall {
  padding: 5px;
}

.sp5.bottom {
  bottom: 5px;
}

.sp5.top {
  top: 5px;
}

.sp5.left {
  left: 5px;
}

.sp5.right {
  right: 5px;
}

@media (max-width: 599px) {
  .sp5.mt {
    margin-top: 1px;
  }

  .sp5.mb {
    margin-bottom: 1px;
  }

  .sp5.ml {
    margin-left: 1px;
  }

  .sp5.mr {
    margin-right: 1px;
  }

  .sp5.mall {
    margin: 1px;
  }

  .sp5.pt {
    padding-top: 1px;
  }

  .sp5.pb {
    padding-bottom: 1px;
  }

  .sp5.pl {
    padding-left: 1px;
  }

  .sp5.pr {
    padding-right: 1px;
  }

  .sp5.pall {
    padding: 1px;
  }

  .sp5.bottom {
    bottom: 1px;
  }

  .sp5.top {
    top: 1px;
  }

  .sp5.left {
    left: 1px;
  }

  .sp5.right {
    right: 1px;
  }
}

.sp8.mt {
  margin-top: 8px;
}

.sp8.mb {
  margin-bottom: 8px;
}

.sp8.ml {
  margin-left: 8px;
}

.sp8.mr {
  margin-right: 8px;
}

.sp8.mall {
  margin: 8px;
}

.sp8.pt {
  padding-top: 8px;
}

.sp8.pb {
  padding-bottom: 8px;
}

.sp8.pl {
  padding-left: 8px;
}

.sp8.pr {
  padding-right: 8px;
}

.sp8.pall {
  padding: 8px;
}

.sp8.bottom {
  bottom: 8px;
}

.sp8.top {
  top: 8px;
}

.sp8.left {
  left: 8px;
}

.sp8.right {
  right: 8px;
}

@media (max-width: 599px) {
  .sp8.mt {
    margin-top: 1.6px;
  }

  .sp8.mb {
    margin-bottom: 1.6px;
  }

  .sp8.ml {
    margin-left: 1.6px;
  }

  .sp8.mr {
    margin-right: 1.6px;
  }

  .sp8.mall {
    margin: 1.6px;
  }

  .sp8.pt {
    padding-top: 1.6px;
  }

  .sp8.pb {
    padding-bottom: 1.6px;
  }

  .sp8.pl {
    padding-left: 1.6px;
  }

  .sp8.pr {
    padding-right: 1.6px;
  }

  .sp8.pall {
    padding: 1.6px;
  }

  .sp8.bottom {
    bottom: 1.6px;
  }

  .sp8.top {
    top: 1.6px;
  }

  .sp8.left {
    left: 1.6px;
  }

  .sp8.right {
    right: 1.6px;
  }
}

.sp10.mt {
  margin-top: 10px;
}

.sp10.mb {
  margin-bottom: 10px;
}

.sp10.ml {
  margin-left: 10px;
}

.sp10.mr {
  margin-right: 10px;
}

.sp10.mall {
  margin: 10px;
}

.sp10.pt {
  padding-top: 10px;
}

.sp10.pb {
  padding-bottom: 10px;
}

.sp10.pl {
  padding-left: 10px;
}

.sp10.pr {
  padding-right: 10px;
}

.sp10.pall {
  padding: 10px;
}

.sp10.bottom {
  bottom: 10px;
}

.sp10.top {
  top: 10px;
}

.sp10.left {
  left: 10px;
}

.sp10.right {
  right: 10px;
}

@media (max-width: 599px) {
  .sp10.mt {
    margin-top: 2px;
  }

  .sp10.mb {
    margin-bottom: 2px;
  }

  .sp10.ml {
    margin-left: 2px;
  }

  .sp10.mr {
    margin-right: 2px;
  }

  .sp10.mall {
    margin: 2px;
  }

  .sp10.pt {
    padding-top: 2px;
  }

  .sp10.pb {
    padding-bottom: 2px;
  }

  .sp10.pl {
    padding-left: 2px;
  }

  .sp10.pr {
    padding-right: 2px;
  }

  .sp10.pall {
    padding: 2px;
  }

  .sp10.bottom {
    bottom: 2px;
  }

  .sp10.top {
    top: 2px;
  }

  .sp10.left {
    left: 2px;
  }

  .sp10.right {
    right: 2px;
  }
}

.sp15.mt {
  margin-top: 15px;
}

.sp15.mb {
  margin-bottom: 15px;
}

.sp15.ml {
  margin-left: 15px;
}

.sp15.mr {
  margin-right: 15px;
}

.sp15.mall {
  margin: 15px;
}

.sp15.pt {
  padding-top: 15px;
}

.sp15.pb {
  padding-bottom: 15px;
}

.sp15.pl {
  padding-left: 15px;
}

.sp15.pr {
  padding-right: 15px;
}

.sp15.pall {
  padding: 15px;
}

.sp15.bottom {
  bottom: 15px;
}

.sp15.top {
  top: 15px;
}

.sp15.left {
  left: 15px;
}

.sp15.right {
  right: 15px;
}

@media (max-width: 599px) {
  .sp15.mt {
    margin-top: 3px;
  }

  .sp15.mb {
    margin-bottom: 3px;
  }

  .sp15.ml {
    margin-left: 3px;
  }

  .sp15.mr {
    margin-right: 3px;
  }

  .sp15.mall {
    margin: 3px;
  }

  .sp15.pt {
    padding-top: 3px;
  }

  .sp15.pb {
    padding-bottom: 3px;
  }

  .sp15.pl {
    padding-left: 3px;
  }

  .sp15.pr {
    padding-right: 3px;
  }

  .sp15.pall {
    padding: 3px;
  }

  .sp15.bottom {
    bottom: 3px;
  }

  .sp15.top {
    top: 3px;
  }

  .sp15.left {
    left: 3px;
  }

  .sp15.right {
    right: 3px;
  }
}

.sp20.mt {
  margin-top: 20px;
}

.sp20.mb {
  margin-bottom: 20px;
}

.sp20.ml {
  margin-left: 20px;
}

.sp20.mr {
  margin-right: 20px;
}

.sp20.mall {
  margin: 20px;
}

.sp20.pt {
  padding-top: 20px;
}

.sp20.pb {
  padding-bottom: 20px;
}

.sp20.pl {
  padding-left: 20px;
}

.sp20.pr {
  padding-right: 20px;
}

.sp20.pall {
  padding: 20px;
}

.sp20.bottom {
  bottom: 20px;
}

.sp20.top {
  top: 20px;
}

.sp20.left {
  left: 20px;
}

.sp20.right {
  right: 20px;
}

@media (max-width: 599px) {
  .sp20.mt {
    margin-top: 4px;
  }

  .sp20.mb {
    margin-bottom: 4px;
  }

  .sp20.ml {
    margin-left: 4px;
  }

  .sp20.mr {
    margin-right: 4px;
  }

  .sp20.mall {
    margin: 4px;
  }

  .sp20.pt {
    padding-top: 4px;
  }

  .sp20.pb {
    padding-bottom: 4px;
  }

  .sp20.pl {
    padding-left: 4px;
  }

  .sp20.pr {
    padding-right: 4px;
  }

  .sp20.pall {
    padding: 4px;
  }

  .sp20.bottom {
    bottom: 4px;
  }

  .sp20.top {
    top: 4px;
  }

  .sp20.left {
    left: 4px;
  }

  .sp20.right {
    right: 4px;
  }
}

.sp25.mt {
  margin-top: 25px;
}

.sp25.mb {
  margin-bottom: 25px;
}

.sp25.ml {
  margin-left: 25px;
}

.sp25.mr {
  margin-right: 25px;
}

.sp25.mall {
  margin: 25px;
}

.sp25.pt {
  padding-top: 25px;
}

.sp25.pb {
  padding-bottom: 25px;
}

.sp25.pl {
  padding-left: 25px;
}

.sp25.pr {
  padding-right: 25px;
}

.sp25.pall {
  padding: 25px;
}

.sp25.bottom {
  bottom: 25px;
}

.sp25.top {
  top: 25px;
}

.sp25.left {
  left: 25px;
}

.sp25.right {
  right: 25px;
}

@media (max-width: 599px) {
  .sp25.mt {
    margin-top: 5px;
  }

  .sp25.mb {
    margin-bottom: 5px;
  }

  .sp25.ml {
    margin-left: 5px;
  }

  .sp25.mr {
    margin-right: 5px;
  }

  .sp25.mall {
    margin: 5px;
  }

  .sp25.pt {
    padding-top: 5px;
  }

  .sp25.pb {
    padding-bottom: 5px;
  }

  .sp25.pl {
    padding-left: 5px;
  }

  .sp25.pr {
    padding-right: 5px;
  }

  .sp25.pall {
    padding: 5px;
  }

  .sp25.bottom {
    bottom: 5px;
  }

  .sp25.top {
    top: 5px;
  }

  .sp25.left {
    left: 5px;
  }

  .sp25.right {
    right: 5px;
  }
}

.sp30.mt {
  margin-top: 30px;
}

.sp30.mb {
  margin-bottom: 30px;
}

.sp30.ml {
  margin-left: 30px;
}

.sp30.mr {
  margin-right: 30px;
}

.sp30.mall {
  margin: 30px;
}

.sp30.pt {
  padding-top: 30px;
}

.sp30.pb {
  padding-bottom: 30px;
}

.sp30.pl {
  padding-left: 30px;
}

.sp30.pr {
  padding-right: 30px;
}

.sp30.pall {
  padding: 30px;
}

.sp30.bottom {
  bottom: 30px;
}

.sp30.top {
  top: 30px;
}

.sp30.left {
  left: 30px;
}

.sp30.right {
  right: 30px;
}

@media (max-width: 599px) {
  .sp30.mt {
    margin-top: 6px;
  }

  .sp30.mb {
    margin-bottom: 6px;
  }

  .sp30.ml {
    margin-left: 6px;
  }

  .sp30.mr {
    margin-right: 6px;
  }

  .sp30.mall {
    margin: 6px;
  }

  .sp30.pt {
    padding-top: 6px;
  }

  .sp30.pb {
    padding-bottom: 6px;
  }

  .sp30.pl {
    padding-left: 6px;
  }

  .sp30.pr {
    padding-right: 6px;
  }

  .sp30.pall {
    padding: 6px;
  }

  .sp30.bottom {
    bottom: 6px;
  }

  .sp30.top {
    top: 6px;
  }

  .sp30.left {
    left: 6px;
  }

  .sp30.right {
    right: 6px;
  }
}

.sp35.mt {
  margin-top: 35px;
}

.sp35.mb {
  margin-bottom: 35px;
}

.sp35.ml {
  margin-left: 35px;
}

.sp35.mr {
  margin-right: 35px;
}

.sp35.mall {
  margin: 35px;
}

.sp35.pt {
  padding-top: 35px;
}

.sp35.pb {
  padding-bottom: 35px;
}

.sp35.pl {
  padding-left: 35px;
}

.sp35.pr {
  padding-right: 35px;
}

.sp35.pall {
  padding: 35px;
}

.sp35.bottom {
  bottom: 35px;
}

.sp35.top {
  top: 35px;
}

.sp35.left {
  left: 35px;
}

.sp35.right {
  right: 35px;
}

@media (max-width: 599px) {
  .sp35.mt {
    margin-top: 7px;
  }

  .sp35.mb {
    margin-bottom: 7px;
  }

  .sp35.ml {
    margin-left: 7px;
  }

  .sp35.mr {
    margin-right: 7px;
  }

  .sp35.mall {
    margin: 7px;
  }

  .sp35.pt {
    padding-top: 7px;
  }

  .sp35.pb {
    padding-bottom: 7px;
  }

  .sp35.pl {
    padding-left: 7px;
  }

  .sp35.pr {
    padding-right: 7px;
  }

  .sp35.pall {
    padding: 7px;
  }

  .sp35.bottom {
    bottom: 7px;
  }

  .sp35.top {
    top: 7px;
  }

  .sp35.left {
    left: 7px;
  }

  .sp35.right {
    right: 7px;
  }
}

.sp40.mt {
  margin-top: 40px;
}

.sp40.mb {
  margin-bottom: 40px;
}

.sp40.ml {
  margin-left: 40px;
}

.sp40.mr {
  margin-right: 40px;
}

.sp40.mall {
  margin: 40px;
}

.sp40.pt {
  padding-top: 40px;
}

.sp40.pb {
  padding-bottom: 40px;
}

.sp40.pl {
  padding-left: 40px;
}

.sp40.pr {
  padding-right: 40px;
}

.sp40.pall {
  padding: 40px;
}

.sp40.bottom {
  bottom: 40px;
}

.sp40.top {
  top: 40px;
}

.sp40.left {
  left: 40px;
}

.sp40.right {
  right: 40px;
}

@media (max-width: 599px) {
  .sp40.mt {
    margin-top: 8px;
  }

  .sp40.mb {
    margin-bottom: 8px;
  }

  .sp40.ml {
    margin-left: 8px;
  }

  .sp40.mr {
    margin-right: 8px;
  }

  .sp40.mall {
    margin: 8px;
  }

  .sp40.pt {
    padding-top: 8px;
  }

  .sp40.pb {
    padding-bottom: 8px;
  }

  .sp40.pl {
    padding-left: 8px;
  }

  .sp40.pr {
    padding-right: 8px;
  }

  .sp40.pall {
    padding: 8px;
  }

  .sp40.bottom {
    bottom: 8px;
  }

  .sp40.top {
    top: 8px;
  }

  .sp40.left {
    left: 8px;
  }

  .sp40.right {
    right: 8px;
  }
}

.sp45.mt {
  margin-top: 45px;
}

.sp45.mb {
  margin-bottom: 45px;
}

.sp45.ml {
  margin-left: 45px;
}

.sp45.mr {
  margin-right: 45px;
}

.sp45.mall {
  margin: 45px;
}

.sp45.pt {
  padding-top: 45px;
}

.sp45.pb {
  padding-bottom: 45px;
}

.sp45.pl {
  padding-left: 45px;
}

.sp45.pr {
  padding-right: 45px;
}

.sp45.pall {
  padding: 45px;
}

.sp45.bottom {
  bottom: 45px;
}

.sp45.top {
  top: 45px;
}

.sp45.left {
  left: 45px;
}

.sp45.right {
  right: 45px;
}

@media (max-width: 599px) {
  .sp45.mt {
    margin-top: 9px;
  }

  .sp45.mb {
    margin-bottom: 9px;
  }

  .sp45.ml {
    margin-left: 9px;
  }

  .sp45.mr {
    margin-right: 9px;
  }

  .sp45.mall {
    margin: 9px;
  }

  .sp45.pt {
    padding-top: 9px;
  }

  .sp45.pb {
    padding-bottom: 9px;
  }

  .sp45.pl {
    padding-left: 9px;
  }

  .sp45.pr {
    padding-right: 9px;
  }

  .sp45.pall {
    padding: 9px;
  }

  .sp45.bottom {
    bottom: 9px;
  }

  .sp45.top {
    top: 9px;
  }

  .sp45.left {
    left: 9px;
  }

  .sp45.right {
    right: 9px;
  }
}

.sp50.mt {
  margin-top: 50px;
}

.sp50.mb {
  margin-bottom: 50px;
}

.sp50.ml {
  margin-left: 50px;
}

.sp50.mr {
  margin-right: 50px;
}

.sp50.mall {
  margin: 50px;
}

.sp50.pt {
  padding-top: 50px;
}

.sp50.pb {
  padding-bottom: 50px;
}

.sp50.pl {
  padding-left: 50px;
}

.sp50.pr {
  padding-right: 50px;
}

.sp50.pall {
  padding: 50px;
}

.sp50.bottom {
  bottom: 50px;
}

.sp50.top {
  top: 50px;
}

.sp50.left {
  left: 50px;
}

.sp50.right {
  right: 50px;
}

@media (max-width: 599px) {
  .sp50.mt {
    margin-top: 10px;
  }

  .sp50.mb {
    margin-bottom: 10px;
  }

  .sp50.ml {
    margin-left: 10px;
  }

  .sp50.mr {
    margin-right: 10px;
  }

  .sp50.mall {
    margin: 10px;
  }

  .sp50.pt {
    padding-top: 10px;
  }

  .sp50.pb {
    padding-bottom: 10px;
  }

  .sp50.pl {
    padding-left: 10px;
  }

  .sp50.pr {
    padding-right: 10px;
  }

  .sp50.pall {
    padding: 10px;
  }

  .sp50.bottom {
    bottom: 10px;
  }

  .sp50.top {
    top: 10px;
  }

  .sp50.left {
    left: 10px;
  }

  .sp50.right {
    right: 10px;
  }
}

.sp60.mt {
  margin-top: 60px;
}

.sp60.mb {
  margin-bottom: 60px;
}

.sp60.ml {
  margin-left: 60px;
}

.sp60.mr {
  margin-right: 60px;
}

.sp60.mall {
  margin: 60px;
}

.sp60.pt {
  padding-top: 60px;
}

.sp60.pb {
  padding-bottom: 60px;
}

.sp60.pl {
  padding-left: 60px;
}

.sp60.pr {
  padding-right: 60px;
}

.sp60.pall {
  padding: 60px;
}

.sp60.bottom {
  bottom: 60px;
}

.sp60.top {
  top: 60px;
}

.sp60.left {
  left: 60px;
}

.sp60.right {
  right: 60px;
}

@media (max-width: 599px) {
  .sp60.mt {
    margin-top: 12px;
  }

  .sp60.mb {
    margin-bottom: 12px;
  }

  .sp60.ml {
    margin-left: 12px;
  }

  .sp60.mr {
    margin-right: 12px;
  }

  .sp60.mall {
    margin: 12px;
  }

  .sp60.pt {
    padding-top: 12px;
  }

  .sp60.pb {
    padding-bottom: 12px;
  }

  .sp60.pl {
    padding-left: 12px;
  }

  .sp60.pr {
    padding-right: 12px;
  }

  .sp60.pall {
    padding: 12px;
  }

  .sp60.bottom {
    bottom: 12px;
  }

  .sp60.top {
    top: 12px;
  }

  .sp60.left {
    left: 12px;
  }

  .sp60.right {
    right: 12px;
  }
}

.sp70.mt {
  margin-top: 70px;
}

.sp70.mb {
  margin-bottom: 70px;
}

.sp70.ml {
  margin-left: 70px;
}

.sp70.mr {
  margin-right: 70px;
}

.sp70.mall {
  margin: 70px;
}

.sp70.pt {
  padding-top: 70px;
}

.sp70.pb {
  padding-bottom: 70px;
}

.sp70.pl {
  padding-left: 70px;
}

.sp70.pr {
  padding-right: 70px;
}

.sp70.pall {
  padding: 70px;
}

.sp70.bottom {
  bottom: 70px;
}

.sp70.top {
  top: 70px;
}

.sp70.left {
  left: 70px;
}

.sp70.right {
  right: 70px;
}

@media (max-width: 599px) {
  .sp70.mt {
    margin-top: 14px;
  }

  .sp70.mb {
    margin-bottom: 14px;
  }

  .sp70.ml {
    margin-left: 14px;
  }

  .sp70.mr {
    margin-right: 14px;
  }

  .sp70.mall {
    margin: 14px;
  }

  .sp70.pt {
    padding-top: 14px;
  }

  .sp70.pb {
    padding-bottom: 14px;
  }

  .sp70.pl {
    padding-left: 14px;
  }

  .sp70.pr {
    padding-right: 14px;
  }

  .sp70.pall {
    padding: 14px;
  }

  .sp70.bottom {
    bottom: 14px;
  }

  .sp70.top {
    top: 14px;
  }

  .sp70.left {
    left: 14px;
  }

  .sp70.right {
    right: 14px;
  }
}

.sp80.mt {
  margin-top: 80px;
}

.sp80.mb {
  margin-bottom: 80px;
}

.sp80.ml {
  margin-left: 80px;
}

.sp80.mr {
  margin-right: 80px;
}

.sp80.mall {
  margin: 80px;
}

.sp80.pt {
  padding-top: 80px;
}

.sp80.pb {
  padding-bottom: 80px;
}

.sp80.pl {
  padding-left: 80px;
}

.sp80.pr {
  padding-right: 80px;
}

.sp80.pall {
  padding: 80px;
}

.sp80.bottom {
  bottom: 80px;
}

.sp80.top {
  top: 80px;
}

.sp80.left {
  left: 80px;
}

.sp80.right {
  right: 80px;
}

@media (max-width: 599px) {
  .sp80.mt {
    margin-top: 16px;
  }

  .sp80.mb {
    margin-bottom: 16px;
  }

  .sp80.ml {
    margin-left: 16px;
  }

  .sp80.mr {
    margin-right: 16px;
  }

  .sp80.mall {
    margin: 16px;
  }

  .sp80.pt {
    padding-top: 16px;
  }

  .sp80.pb {
    padding-bottom: 16px;
  }

  .sp80.pl {
    padding-left: 16px;
  }

  .sp80.pr {
    padding-right: 16px;
  }

  .sp80.pall {
    padding: 16px;
  }

  .sp80.bottom {
    bottom: 16px;
  }

  .sp80.top {
    top: 16px;
  }

  .sp80.left {
    left: 16px;
  }

  .sp80.right {
    right: 16px;
  }
}

.sp90.mt {
  margin-top: 90px;
}

.sp90.mb {
  margin-bottom: 90px;
}

.sp90.ml {
  margin-left: 90px;
}

.sp90.mr {
  margin-right: 90px;
}

.sp90.mall {
  margin: 90px;
}

.sp90.pt {
  padding-top: 90px;
}

.sp90.pb {
  padding-bottom: 90px;
}

.sp90.pl {
  padding-left: 90px;
}

.sp90.pr {
  padding-right: 90px;
}

.sp90.pall {
  padding: 90px;
}

.sp90.bottom {
  bottom: 90px;
}

.sp90.top {
  top: 90px;
}

.sp90.left {
  left: 90px;
}

.sp90.right {
  right: 90px;
}

@media (max-width: 599px) {
  .sp90.mt {
    margin-top: 18px;
  }

  .sp90.mb {
    margin-bottom: 18px;
  }

  .sp90.ml {
    margin-left: 18px;
  }

  .sp90.mr {
    margin-right: 18px;
  }

  .sp90.mall {
    margin: 18px;
  }

  .sp90.pt {
    padding-top: 18px;
  }

  .sp90.pb {
    padding-bottom: 18px;
  }

  .sp90.pl {
    padding-left: 18px;
  }

  .sp90.pr {
    padding-right: 18px;
  }

  .sp90.pall {
    padding: 18px;
  }

  .sp90.bottom {
    bottom: 18px;
  }

  .sp90.top {
    top: 18px;
  }

  .sp90.left {
    left: 18px;
  }

  .sp90.right {
    right: 18px;
  }
}

.sp100.mt {
  margin-top: 100px;
}

.sp100.mb {
  margin-bottom: 100px;
}

.sp100.ml {
  margin-left: 100px;
}

.sp100.mr {
  margin-right: 100px;
}

.sp100.mall {
  margin: 100px;
}

.sp100.pt {
  padding-top: 100px;
}

.sp100.pb {
  padding-bottom: 100px;
}

.sp100.pl {
  padding-left: 100px;
}

.sp100.pr {
  padding-right: 100px;
}

.sp100.pall {
  padding: 100px;
}

.sp100.bottom {
  bottom: 100px;
}

.sp100.top {
  top: 100px;
}

.sp100.left {
  left: 100px;
}

.sp100.right {
  right: 100px;
}

@media (max-width: 599px) {
  .sp100.mt {
    margin-top: 20px;
  }

  .sp100.mb {
    margin-bottom: 20px;
  }

  .sp100.ml {
    margin-left: 20px;
  }

  .sp100.mr {
    margin-right: 20px;
  }

  .sp100.mall {
    margin: 20px;
  }

  .sp100.pt {
    padding-top: 20px;
  }

  .sp100.pb {
    padding-bottom: 20px;
  }

  .sp100.pl {
    padding-left: 20px;
  }

  .sp100.pr {
    padding-right: 20px;
  }

  .sp100.pall {
    padding: 20px;
  }

  .sp100.bottom {
    bottom: 20px;
  }

  .sp100.top {
    top: 20px;
  }

  .sp100.left {
    left: 20px;
  }

  .sp100.right {
    right: 20px;
  }
}

.sp125.mt {
  margin-top: 125px;
}

.sp125.mb {
  margin-bottom: 125px;
}

.sp125.ml {
  margin-left: 125px;
}

.sp125.mr {
  margin-right: 125px;
}

.sp125.mall {
  margin: 125px;
}

.sp125.pt {
  padding-top: 125px;
}

.sp125.pb {
  padding-bottom: 125px;
}

.sp125.pl {
  padding-left: 125px;
}

.sp125.pr {
  padding-right: 125px;
}

.sp125.pall {
  padding: 125px;
}

.sp125.bottom {
  bottom: 125px;
}

.sp125.top {
  top: 125px;
}

.sp125.left {
  left: 125px;
}

.sp125.right {
  right: 125px;
}

@media (max-width: 599px) {
  .sp125.mt {
    margin-top: 25px;
  }

  .sp125.mb {
    margin-bottom: 25px;
  }

  .sp125.ml {
    margin-left: 25px;
  }

  .sp125.mr {
    margin-right: 25px;
  }

  .sp125.mall {
    margin: 25px;
  }

  .sp125.pt {
    padding-top: 25px;
  }

  .sp125.pb {
    padding-bottom: 25px;
  }

  .sp125.pl {
    padding-left: 25px;
  }

  .sp125.pr {
    padding-right: 25px;
  }

  .sp125.pall {
    padding: 25px;
  }

  .sp125.bottom {
    bottom: 25px;
  }

  .sp125.top {
    top: 25px;
  }

  .sp125.left {
    left: 25px;
  }

  .sp125.right {
    right: 25px;
  }
}

.sp150.mt {
  margin-top: 150px;
}

.sp150.mb {
  margin-bottom: 150px;
}

.sp150.ml {
  margin-left: 150px;
}

.sp150.mr {
  margin-right: 150px;
}

.sp150.mall {
  margin: 150px;
}

.sp150.pt {
  padding-top: 150px;
}

.sp150.pb {
  padding-bottom: 150px;
}

.sp150.pl {
  padding-left: 150px;
}

.sp150.pr {
  padding-right: 150px;
}

.sp150.pall {
  padding: 150px;
}

.sp150.bottom {
  bottom: 150px;
}

.sp150.top {
  top: 150px;
}

.sp150.left {
  left: 150px;
}

.sp150.right {
  right: 150px;
}

@media (max-width: 599px) {
  .sp150.mt {
    margin-top: 30px;
  }

  .sp150.mb {
    margin-bottom: 30px;
  }

  .sp150.ml {
    margin-left: 30px;
  }

  .sp150.mr {
    margin-right: 30px;
  }

  .sp150.mall {
    margin: 30px;
  }

  .sp150.pt {
    padding-top: 30px;
  }

  .sp150.pb {
    padding-bottom: 30px;
  }

  .sp150.pl {
    padding-left: 30px;
  }

  .sp150.pr {
    padding-right: 30px;
  }

  .sp150.pall {
    padding: 30px;
  }

  .sp150.bottom {
    bottom: 30px;
  }

  .sp150.top {
    top: 30px;
  }

  .sp150.left {
    left: 30px;
  }

  .sp150.right {
    right: 30px;
  }
}

.sp175.mt {
  margin-top: 175px;
}

.sp175.mb {
  margin-bottom: 175px;
}

.sp175.ml {
  margin-left: 175px;
}

.sp175.mr {
  margin-right: 175px;
}

.sp175.mall {
  margin: 175px;
}

.sp175.pt {
  padding-top: 175px;
}

.sp175.pb {
  padding-bottom: 175px;
}

.sp175.pl {
  padding-left: 175px;
}

.sp175.pr {
  padding-right: 175px;
}

.sp175.pall {
  padding: 175px;
}

.sp175.bottom {
  bottom: 175px;
}

.sp175.top {
  top: 175px;
}

.sp175.left {
  left: 175px;
}

.sp175.right {
  right: 175px;
}

@media (max-width: 599px) {
  .sp175.mt {
    margin-top: 35px;
  }

  .sp175.mb {
    margin-bottom: 35px;
  }

  .sp175.ml {
    margin-left: 35px;
  }

  .sp175.mr {
    margin-right: 35px;
  }

  .sp175.mall {
    margin: 35px;
  }

  .sp175.pt {
    padding-top: 35px;
  }

  .sp175.pb {
    padding-bottom: 35px;
  }

  .sp175.pl {
    padding-left: 35px;
  }

  .sp175.pr {
    padding-right: 35px;
  }

  .sp175.pall {
    padding: 35px;
  }

  .sp175.bottom {
    bottom: 35px;
  }

  .sp175.top {
    top: 35px;
  }

  .sp175.left {
    left: 35px;
  }

  .sp175.right {
    right: 35px;
  }
}

.sp200.mt {
  margin-top: 200px;
}

.sp200.mb {
  margin-bottom: 200px;
}

.sp200.ml {
  margin-left: 200px;
}

.sp200.mr {
  margin-right: 200px;
}

.sp200.mall {
  margin: 200px;
}

.sp200.pt {
  padding-top: 200px;
}

.sp200.pb {
  padding-bottom: 200px;
}

.sp200.pl {
  padding-left: 200px;
}

.sp200.pr {
  padding-right: 200px;
}

.sp200.pall {
  padding: 200px;
}

.sp200.bottom {
  bottom: 200px;
}

.sp200.top {
  top: 200px;
}

.sp200.left {
  left: 200px;
}

.sp200.right {
  right: 200px;
}

@media (max-width: 599px) {
  .sp200.mt {
    margin-top: 40px;
  }

  .sp200.mb {
    margin-bottom: 40px;
  }

  .sp200.ml {
    margin-left: 40px;
  }

  .sp200.mr {
    margin-right: 40px;
  }

  .sp200.mall {
    margin: 40px;
  }

  .sp200.pt {
    padding-top: 40px;
  }

  .sp200.pb {
    padding-bottom: 40px;
  }

  .sp200.pl {
    padding-left: 40px;
  }

  .sp200.pr {
    padding-right: 40px;
  }

  .sp200.pall {
    padding: 40px;
  }

  .sp200.bottom {
    bottom: 40px;
  }

  .sp200.top {
    top: 40px;
  }

  .sp200.left {
    left: 40px;
  }

  .sp200.right {
    right: 40px;
  }
}

.sp300.mt {
  margin-top: 300px;
}

.sp300.mb {
  margin-bottom: 300px;
}

.sp300.ml {
  margin-left: 300px;
}

.sp300.mr {
  margin-right: 300px;
}

.sp300.mall {
  margin: 300px;
}

.sp300.pt {
  padding-top: 300px;
}

.sp300.pb {
  padding-bottom: 300px;
}

.sp300.pl {
  padding-left: 300px;
}

.sp300.pr {
  padding-right: 300px;
}

.sp300.pall {
  padding: 300px;
}

.sp300.bottom {
  bottom: 300px;
}

.sp300.top {
  top: 300px;
}

.sp300.left {
  left: 300px;
}

.sp300.right {
  right: 300px;
}

@media (max-width: 599px) {
  .sp300.mt {
    margin-top: 60px;
  }

  .sp300.mb {
    margin-bottom: 60px;
  }

  .sp300.ml {
    margin-left: 60px;
  }

  .sp300.mr {
    margin-right: 60px;
  }

  .sp300.mall {
    margin: 60px;
  }

  .sp300.pt {
    padding-top: 60px;
  }

  .sp300.pb {
    padding-bottom: 60px;
  }

  .sp300.pl {
    padding-left: 60px;
  }

  .sp300.pr {
    padding-right: 60px;
  }

  .sp300.pall {
    padding: 60px;
  }

  .sp300.bottom {
    bottom: 60px;
  }

  .sp300.top {
    top: 60px;
  }

  .sp300.left {
    left: 60px;
  }

  .sp300.right {
    right: 60px;
  }
}

.sp400.mt {
  margin-top: 400px;
}

.sp400.mb {
  margin-bottom: 400px;
}

.sp400.ml {
  margin-left: 400px;
}

.sp400.mr {
  margin-right: 400px;
}

.sp400.mall {
  margin: 400px;
}

.sp400.pt {
  padding-top: 400px;
}

.sp400.pb {
  padding-bottom: 400px;
}

.sp400.pl {
  padding-left: 400px;
}

.sp400.pr {
  padding-right: 400px;
}

.sp400.pall {
  padding: 400px;
}

.sp400.bottom {
  bottom: 400px;
}

.sp400.top {
  top: 400px;
}

.sp400.left {
  left: 400px;
}

.sp400.right {
  right: 400px;
}

@media (max-width: 599px) {
  .sp400.mt {
    margin-top: 80px;
  }

  .sp400.mb {
    margin-bottom: 80px;
  }

  .sp400.ml {
    margin-left: 80px;
  }

  .sp400.mr {
    margin-right: 80px;
  }

  .sp400.mall {
    margin: 80px;
  }

  .sp400.pt {
    padding-top: 80px;
  }

  .sp400.pb {
    padding-bottom: 80px;
  }

  .sp400.pl {
    padding-left: 80px;
  }

  .sp400.pr {
    padding-right: 80px;
  }

  .sp400.pall {
    padding: 80px;
  }

  .sp400.bottom {
    bottom: 80px;
  }

  .sp400.top {
    top: 80px;
  }

  .sp400.left {
    left: 80px;
  }

  .sp400.right {
    right: 80px;
  }
}

.sp500.mt {
  margin-top: 500px;
}

.sp500.mb {
  margin-bottom: 500px;
}

.sp500.ml {
  margin-left: 500px;
}

.sp500.mr {
  margin-right: 500px;
}

.sp500.mall {
  margin: 500px;
}

.sp500.pt {
  padding-top: 500px;
}

.sp500.pb {
  padding-bottom: 500px;
}

.sp500.pl {
  padding-left: 500px;
}

.sp500.pr {
  padding-right: 500px;
}

.sp500.pall {
  padding: 500px;
}

.sp500.bottom {
  bottom: 500px;
}

.sp500.top {
  top: 500px;
}

.sp500.left {
  left: 500px;
}

.sp500.right {
  right: 500px;
}

@media (max-width: 599px) {
  .sp500.mt {
    margin-top: 100px;
  }

  .sp500.mb {
    margin-bottom: 100px;
  }

  .sp500.ml {
    margin-left: 100px;
  }

  .sp500.mr {
    margin-right: 100px;
  }

  .sp500.mall {
    margin: 100px;
  }

  .sp500.pt {
    padding-top: 100px;
  }

  .sp500.pb {
    padding-bottom: 100px;
  }

  .sp500.pl {
    padding-left: 100px;
  }

  .sp500.pr {
    padding-right: 100px;
  }

  .sp500.pall {
    padding: 100px;
  }

  .sp500.bottom {
    bottom: 100px;
  }

  .sp500.top {
    top: 100px;
  }

  .sp500.left {
    left: 100px;
  }

  .sp500.right {
    right: 100px;
  }
}

img.cover,
video.cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.content {
  width: 70%;
  margin: 0 auto;
}

body {
  padding-bottom: 200px;
}

body {
  background-color: #f5f8fa;
  font-size: 14px;
  font-family: "Playfair Display", serif;
  line-height: 1.6;
  color: #212121;
}

.inverse {
  color: #f5f8fa;
  background-color: #212121;
}

.serif {
  font-family: "Playfair Display", serif;
}

.sans-serif {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 130px;
  font-weight: bold;
  font-style: italic;
  line-height: 1em;
}

h2 {
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
}

p {
  font-family: "Raleway", sans-serif;
  margin-bottom: 10px;
}

p:last-child {
  margin-bottom: 0;
}

.btn {
  padding: 10px 15px;
  text-decoration: none;
  background-color: #212121;
  color: #f5f8fa;
  border-radius: 2px;
  font-size: 0.8em;
  text-transform: uppercase;
}

.dim {
  position: relative;
}

.dim .dimmer {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transition: opacity 5s;
  transition: opacity 5s;
}

.dim.is-visible .dimmer {
  opacity: 0;
}

.parallax img {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: object-position 10s ease-in-out;
  transition: object-position 10s ease-in-out;
  transition: object-position 10s ease-in-out, -o-object-position 10s ease-in-out;
}

.parallax.is-visible img {
  -o-object-position: 100% 100%;
     object-position: 100% 100%;
}

.fancy-divider {
  position: relative;
  border-bottom: 1px solid #fafafa;
  text-align: center;
  width: 50%;
  margin: 30px auto;
}

.fancy-divider i {
  position: absolute;
  font-size: 32px;
  background-color: #212121;
  top: -16px;
  left: calc(50% - 30px);
  width: 60px;
}

.fancy-divider.dark {
  border-bottom-color: #212121;
}

.fancy-divider.dark i {
  background-color: #f5f8fa;
}

.dropdown {
  position: relative;
  padding-right: 5px;
}

.dropdown:after {
  position: absolute;
  right: -5px;
  top: calc(50% - 2.5px);
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 2.5px 0 2.5px;
  border-color: #fafafa transparent transparent transparent;
}

header {
  position: relative;
  height: 700px;
  background-color: #212121;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

header .content {
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 600px;
  margin: 0 auto;
  min-width: 200px;
  text-align: center;
}

header p {
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.8em;
  max-width: 300px;
}

#navigation {
  position: relative;
  z-index: 100;
  padding: 10px 20px;
  color: white;
}

#navigation a {
  text-decoration: none;
}

#navigation a:hover {
  text-decoration: underline;
}

#navigation > div,
#navigation > ul {
  float: left;
}

#navigation > ul > li {
  position: relative;
  float: left;
  margin-right: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  cursor: pointer;
}

#navigation > ul > li > ul {
  position: absolute;
  top: 25px;
  min-width: 120px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

#navigation > ul > li > ul > li {
  margin-top: 5px;
}

#navigation > ul > li:hover > ul {
  max-height: 500px;
}

#navigation .logo {
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
}

#navigation a {
  color: white;
}

#navigation .right,
#navigation .left {
  float: left;
  margin-left: 30px;
  padding-top: 10px;
}

#navigation .right {
  float: right;
}

.category-introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 100px 0 0;
  max-height: 500px;
}

.category-introduction .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 60px;
  text-align: center;
}

.category-introduction .preview {
  min-width: 70%;
}

.category-introduction .preview img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.right .category-introduction {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

