// Colors
$white: #f5f8fa;
$black: #212121;

// Body
$body-bg: $white;

// Typography
$font-family-serif: "Playfair Display", serif;
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: $black;

$gutters: 30px;

// Mobile Modifier
$mobileModifier: 0.2;

$spaces: (0, 1, 2, 5, 8, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 70, 80, 90, 100, 125, 150, 175, 200, 300, 400, 500);
